body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

#app {
  max-width: 640px;
  margin: 0 auto;
}

header {
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  padding: 1em 2em;
}

h1 {
  margin: 1em 0 0.4em 0;
}

h1 cite {
  font-size: 0.6em;
  font-weight: normal;
  font-style: normal;
  display: block;
}

.contract-form {
  margin-bottom: 3em;
}

.contract-form[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.contract-form[disabled] .form-row button {
  color: transparent;
}

.contract-form[disabled] .form-row button::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: black;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.form-row {
  display: flex;
  margin: 1em 0;
}

.form-row-hidden {
  display: none;
}

.form-label {
  width: 30%;
  padding-right: 1em;
  flex-shrink: 0;
}

.form-input {
  flex-grow: 1;
}

.form-row select,
.form-row textarea,
.form-row button,
.form-row input {
  box-sizing: border-box;
  padding: 4px 8px;
  width: 100%;
}

.form-checkbox-wrapper {
  display: flex;
}

.form-checkbox-wrapper input[type='checkbox'] {
  width: auto;
  margin: 0;
}

.form-checkbox-wrapper .form-input-title {
  flex-grow: 1;
  margin-left: 6px;
}

.form-row button {
  padding: 10px;
  text-align: center;
  position: relative;
}

.desc {
  font-size: 0.8em;
  line-height: 1.4em;
  color: gray;
  margin: 0.5em 0;
}

.error {
  color: red;
}

.result {
  color: green;
}

.result,
.error {
  margin: 1em 0;
  word-wrap: break-word;
}

.result:empty,
.error:empty {
  display: none;
}
